VITE_BACKEND_API_URL=https://api-gs-sabores.ioshuavps.com.br/api
VITE_UPLOADS_BASE_URL=https://projeto-backend-restaurante.lwcbm0.easypanel.host
VITE_EVOLUTION_API_URL=https://evolution-api.ioshuavps.com.br
VITE_EVOLUTION_API_KEY=
