PORT=3000
NODE_ENV=production

DB_NAME=sistema-restaurante
DB_USER=ioshua
DB_PASS=
DB_HOST=restaurante_db
DB_PORT=5432
DB_DIALECT=postgres

JWT_SECRET=

EVOLUTION_API_URL=https://n8n-evolution-api.gmqoq2.easypanel.host
EVOLUTION_API_KEY=

FRONTEND_URL=https://gs-sabores.ioshuavps.com.br
PUBLIC_API_URL=https://api-gs-sabores.ioshuavps.com.br
UPLOADS_PUBLIC_URL=https://projeto-backend-restaurante.lwcbm0.easypanel.host
